.itemsWrapper {
  display: flex;
  flex-wrap: wrap;
}

.checkoutButton {
  display: flex;
  align-self: center;
  text-align: center;
  width: fit-content;
  padding: 4px 16px;

  border-radius: 8px;
  background-color: #a569bd;
  border: 2px solid #a569bd;
  outline: none;
  font-size: 20px;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}

.checkoutButton:hover {
  background: #fff;
  color: #a569bd;
}

.storeHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 40px;
  margin-top: 16px;
}
.totalAmount {
  font-size: 20px;
}

@media only screen and (max-width: 600px) {
  .storeHeader {
    margin: 16px 0px;
  }
  .checkoutButton {
    font-size: 16px;
  }
  .totalAmount {
    font-size: 16px;
  }
}
